<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/register/style.css">
    <title>Register</title>
</head>
<body>
        <a href=""> <img src="images/left.png" alt=""> <p>Voltar</p> </a>
    <div class="container_register">
        <form action="/create" method="post" class="register">
            <img src="images/macaco.jpg" alt="">
            <div>
                <p>Nome</p>
                <input name="nome" type="text">
            </div>
            <div>
                <p>E-mail</p>
                <input name="email" type="email" >
            </div>
            <div class="password">
                <p>Senha</p>
                <div>
                    <input type="senha" name="senha" id="password">
                    <img id="eye" src="images/eye2.png" onclick="changeEye()"  alt="">
                </div>
            </div>
            <div>
                <p>Placa do veículo</p>
                <input name="placa" type="text" >
            </div>
            <input type="hidden" name="id"/>
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
<script src="js/components/changeEye.js"></script>
</html>