<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vagas de Estacionamento</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/css/vacancies/style.css">
</head>
<body>
    <div onclick="showOccupation()" class="pop_up">
        <div onclick="" class="content_popup">
            <span id="close-popup" class="close-button">&times;</span>
            <h1>Opções de ocupação</h1>
            <div class="daily_and_our">
                <div class="daily">
                    <div class="title">
                        <div>
                            <p>&#10031;</p>
                            <p>Diária</p>
                        </div>
                        <div id="price">
                            <p>R$ 240</p>
                            <p>R$ 140</p>
                        </div>
                    </div>
                    <div class="text">
                        <p>Direito a alocar o veiculo por 1 dia</p>
                        <p>Você tem o dirieiro de sair e entrar quando quiser, sua vaga não será ocpadapor outra pessoa
                        </p>
                    </div>
                    <div class="atention">
                        <h1>Atenção</h1>
                        <p>Caso passe de 24h, será cobrado o valor respectivo a 2 dias e assim por diante</p>
                    </div>
                    <button>Alugar</button>
                </div>
                <div class="our">
                    <div class="title">
                        <p>Hora</p>
                        <p>R$ 10</p>
                    </div>
                    <p>Direito a alocar o veiculo por 1 hora</p>
                    <div class="atention">
                        <h1>Atenção</h1>
                        <div>
                            <p>Caso passe do horario reservado, será acrecsido 1 hora ao valor total e assim por diante.
                            </p>
                            <p>Caso você deixe o estabelecimento a sua vaga poderá ser alocada por outro veiculo.</p>
                        </div>
                    </div>
                    <button>Alugar</button>
                </div>
            </div>

        </div>
    </div>
    <div class="vacancies" th:object="${usuario}" >
        <div class="header">
            <div class="user-info">
                <span th:text="'&#128100; ' + ${usuario.nome}"></span>
            </div>
            <div class="logo-container">
            </div>
            <div class="logout">
                <a href="#">&#128275; Log-out</a>
            </div>
        </div>
        <div class="container">
            <div class="title">
                <h2>Vagas do Estacionamento</h2>
            </div>
            <div class="parking-grid">
                <div class="spot occupied">01</div>
                <div onclick="showOccupation()" class="spot free">02</div>
                <div class="spot occupied">03</div>
                <div class="spot free">04</div>
                <div class="spot occupied">05</div>
                <div class="spot free">06</div>
                <div class="spot free">07</div>
                <div class="spot occupied">08</div>
                <div class="spot free">09</div>
                <div class="spot occupied">10</div>
                <div class="spot free">11</div>
                <div class="spot occupied">12</div>
                <div class="spot occupied">13</div>
                <div class="spot free">14</div>
                <div class="spot occupied">15</div>
                <div class="spot free">16</div>
                <div class="spot occupied">17</div>
                <div class="spot free">18</div>
                <div class="spot free">19</div>
                <div class="spot occupied">20</div>
                <div class="spot free">21</div>
                <div class="spot occupied">22</div>
                <div class="spot free">23</div>
                <div class="spot occupied">24</div>
                <div class="spot free">25</div>
                <div class="spot free">26</div>
                <div class="spot occupied">27</div>
                <div class="spot free">28</div>
                <div class="spot occupied">29</div>
                <div class="spot free">30</div>
            </div>
            <div class="legend">
                <div><span class="red"></span> Ocupada</div>
                <div><span class="green"></span> Livre</div>
            </div>
        </div>
    </div>

</body>
<script src="/js/vacancies/index.js"></script>
</html>